<form (submit)="save(); $event.preventDefault()" class="dealership-form">
	<input
		pInputText
		class="w-full"
		placeholder="Name"
		[ngModel]="model().name"
		(ngModelChange)="updateModel('name', $event)"
		name="name"
	/>
	<input
		pInputText
		class="w-full"
		placeholder="Address"
		[ngModel]="model().address"
		(ngModelChange)="updateModel('address', $event)"
		name="address"
	/>
	<input
		pInputText
		class="w-full"
		placeholder="City"
		[ngModel]="model().city"
		(ngModelChange)="updateModel('city', $event)"
		name="city"
	/>
	<input
		pInputText
		class="w-full"
		placeholder="State"
		[ngModel]="model().state"
		(ngModelChange)="updateModel('state', $event)"
		name="state"
	/>
	<input
		pInputText
		class="w-full"
		placeholder="Phone"
		[ngModel]="model().phone"
		(ngModelChange)="updateModel('phone', $event)"
		name="phone"
	/>
	<input
		pInputText
		class="w-full"
		placeholder="Email"
		[ngModel]="model().email"
		(ngModelChange)="updateModel('email', $event)"
		name="email"
	/>
	<input
		pInputText
		class="w-full"
		placeholder="Logo URL"
		[ngModel]="model().logo"
		(ngModelChange)="updateModel('logo', $event)"
		name="logo"
	/>
	<p-inputnumber
		class="w-full"
		placeholder="Latitude"
		[ngModel]="model().lat"
		(ngModelChange)="updateModel('lat', $event)"
		name="lat"
		[minFractionDigits]="4"
	/>
	<p-inputnumber
		class="w-full"
		placeholder="Longitude"
		[ngModel]="model().lng"
		(ngModelChange)="updateModel('lng', $event)"
		name="lng"
		[minFractionDigits]="4"
	/>

	<div class="dealership-form__actions">
		<button pButton type="submit" [disabled]="isSaveDisabled()">
			<span translate>Save</span>
		</button>
	</div>
</form>
